.cnt {
  flex: 2;
  width: 100%;
  aspect-ratio: 1584 / 396;
  height: auto;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.responsive-banner {
  display: block;
  max-width: 100%;
  height: auto;
}

.profileCnt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fafd;
  border-radius: 50%;
  z-index: 99;
  height: 79.609%; /*  160 px on 201 px */
  aspect-ratio: 1;
  left: 3%;
  top: 44.27%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.038);
  transition: transform ease-in-out 0.125s;
  cursor: pointer;
}

.profileCnt:hover {
  transform: scale(1.05);
}
