.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.uploadBtn {
  cursor: pointer;
  color: #333;
  text-align: center;
  padding: 0.5rem;
}
