.navbarCnt {
  width: 100%;
  background-color: var(--bg);
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-size: clamp(1.8rem, 2vh, 2.5rem);
  padding: 3rem 2rem;
  padding-bottom: 0rem;
}
