.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description {
  padding: 0rem 2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-size: clamp(0.95rem, 2vh, 1.25rem);
  color: #555;
  font-style: italic;
}

.layout {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-direction: row;
  gap: 3rem;
  padding: clamp(1rem, 2vw, 12rem);
}

@media (max-width: 1150px) {
  .layout {
    flex-direction: column-reverse;
    gap: 9rem;
    width: 100%;
    align-items: stretch;
    justify-items: stretch;
  }
}
